<aside id="sidebar-twitter">
  <div class="panel panel-gal recent hidden-xs" data-aos="fade-up" data-aos-duration="2000">
    <div class="panel-heading">
      <i class="fa fa-twitter"></i></i>
      Twitter @nekozuki_2525
      <i class="fa fa-times-circle panel-remove"></i>
    </div>
    <a class="twitter-timeline" data-lang="ja" data-height="1000"
      href="https://twitter.com/nekozuki_2525?ref_src=twsrc%5Etfw">Tweets by nekozuki_2525</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</aside>