<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    <p style="font-weight: bold;font-size: large;">【お知らせ】<br>
        現在、絶賛改修中です。もう少々お待ち下さい。</p>
    <p>
        【修正予定箇所】<br>
        ・背景がチカチカする<br>
        ・フッター文字が読みづらい<br>
        ・検索ボックス入力時、画面がうるさい<br>
    </p>
    <p>他にもおかしい箇所あればこちらまでお願いします。<br>
        　<a href="https://github.com/AyumuNekozuki/blog_nekozuki_me">GitHub repo</a>  /  <a href="https://twitter.com/nekozuki_dev">Twitter</a>
    </p>
    <!-- 自行配置公告内容结束 -->
</div>